body{
  background:#f3f3f3;
  margin:auto;
}
.App {
  text-align: center;
}
.App-header{
  background-color: #282c34;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Form-container */

.form-container{
  margin:2em auto;
}

.form-container input[type=text]{
background: #fff;
 border: 0px;
 border-bottom: 2px solid #555;
 border-radius: 2px;
 outline: none;
 padding:5px 5px;
 font-size: 1em;
 border-right: 0px;
 margin-right:1em;
}

.form-container input[type=text]:hover{
  background: #fff;
}
.form-container button{
  background: #fff;
  padding:5px 15px;
  font-weight: 400;
  color:#555;
  letter-spacing: 1px;
  font-size: 1em;
  border: 1px solid red;
  outline: none;
}

/*ReceipesList constainer*/

.ReceipesList_maincontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  justify-content: center;
}

.ReceipesList_container{
   width:350px;
   background: #fff;
   margin:1rem;
   box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
}
.ReceipesList_container .card-img-top{
  width:100%;
  height:290px;
}
.ReceipesList_container .card-body{
  padding: 0rem 0rem 2rem 2rem;
  text-align: left;
}

.ReceipesList__title{
  color: #e74c3c;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.ReceipesList__subtitle{
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.ReceipesList__subtitle .span{
  font-size:0.5rem;
  letter-spacing: 1px;
}

.ReceipesList__button{
  border: solid 2px #e74c3c;
  color:green;
  background: transparent;
  padding: 0.5rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  outline:none;
  cursor: pointer;
  
}


